# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Homework/homework-2.html
layout-intro/layout-intro.css
layout-intro/layout-intro.html
classes-ids/classes-ids.html
classes-ids/classes-ids.css
JS_Practice.html
Classwork/documents_playground.html
Classwork/dom-manip notes.html
Classwork/functions_practice.html
Classwork/dom-manip.html
